@font-face {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: auto;
  padding: 0 1em;
  max-width: 1000px;
  background-color: lightgray;
}

.banner {
  margin-top: 30px;
  background-image: url(img/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: black;
  min-height: 300px;
}

.header-text {
  max-height: 170px;
  max-width: 90%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }

.card {
  box-sizing: border-box;
  margin: 1rem .25em;
}

.category {
  flex: 1 1 500px;
}

.display-4,
.card-header {
  font-family: 'Calistoga', cursive;
}

li a {
  text-decoration: none;
  color: inherit;
}

li a:hover, a:visited {
  color: inherit;
}

li a:hover {
  text-decoration: underline;
}

li span {
  text-decoration: inherit;
}

.card-header {
  background-color: darkgreen;
  color: white;
}

.vegan {
  height: 1.4em;
  padding-left: 0.1em;
  padding-bottom: 0.22em;
  float: none;
}

.nowrap {
  display: inline-block;
  white-space: nowrap;
}

.legend {
  text-align: center;
  padding-bottom: 0.5em;
  font-style: italic;
}

.legend-carrot {
  height: 2em;
}

@media screen and (min-width: 40em) {
  .card {
    max-width: calc(50% -  1em);
  }
}

@media screen and (min-width: 60em) {
  .card {
    max-width: calc(25% - 1em);
  }
}